.Cart {
  padding: 20px;
  border: 2px solid firebrick;
  border-radius: 15px;
  min-width: 30%;
  align-self: flex-start;
  position: sticky;
  top: 50px;
  right: 0;
}

.CartTitle {
  margin: 0;
  background-color: #fff;
  color: firebrick;
  font-size: 18px;
  padding: 0 6px;
  position: absolute;
  top: -12px;
  left: 15px;
}

.Cart h5 {
  margin: 0 0 15px;
  font-size: 20px;
}

.CartDeliveryPrice {
  border-top: 2px solid #eee;
  padding: 15px 5px 5px;
  margin: 0 0 10px;
}

.CartSummary {
  padding: 5px;
  margin: 0 0 20px;
}