.MenuItem {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #eee;
}

.MenuItem:last-child {
  margin-bottom: 0;
}

.MenuItemImage {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: white;
}

.MenuItemInfo {
  display: flex;
  flex-direction: column;
}

.MenuItemInfo p {
  margin: 8px;
}

.MenuItemName {
  font-size: 18px;
}

.MenuItemPrice {
  font-size: 20px;
  font-weight: bold;
}

.MenuItemInfo {
  flex-grow: 1;
}