.PurchasingModal {
  width: 30%;
  min-height: 100px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PurchasingModalTitle {
  margin: 0 0 10px;
}

.OrderForm {
  padding-top: 20px;
  border-top: 2px solid #eee;
}

.formRow {
  display: flex;
  margin-bottom: 10px;
}

.formRow:last-of-type {
  margin-bottom: 30px;
}

.formRow label {
  flex-grow: 1;
}

.formRow input {
  min-width: 70%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.formRow input::placeholder {
  color: #ddd;
}