.Button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.Button:disabled {
  opacity: 25%;
}

.Button_addToCart {
  background-color: steelblue;
}

.Button_order {
  background-color: grey;
}

.Button_orderConfirm {
  background-color: seagreen;
  margin-right: 20px;
}

.Button_orderCancel {
  background-color: firebrick;
}