.CartItem {
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.CartItem:hover {
  background-color: #b2222230;
  border-radius: 5px;
}

.CartItem p {
  margin: 0;
}

.CartItemSum {
  font-weight: bold;
}